absl-py==2.1.0
Cython==3.0.11
docutils==0.21.2
filelock==3.13.1
Jinja2==3.1.4
networkx==3.3
numpy==1.19.4
pillow==8.0.0
protobuf==3.20.3
pyparsing==3.2.1
PyYAML==6.0.2
scipy==1.5.4
six==1.15.0
tensorboard==2.4.1
torch==1.10.0+nv21.10
torchvision==0.11.1+nv21.10
tqdm==4.67.1
Werkzeug==2.0.1
